$blueBg : #0070A0;
$lightBlueBG : #DEF2F7;
$yellowBG : #FAEA73;
$lightBlueBG2: #CCEFF6;
$pinkBG: #F7CEDC;
$mainBG: #F5F5F5;
$secondBG: #F7F9FA;
$thirdBG: #E6F7FF;

.header {
    .header__top {
        background-color: $blueBg;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 140% */
            text-align: center;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }

        .seeAll {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            /* identical to box height, or 140% */
            text-align: center;
            letter-spacing: 0.2px;
            color: #CCE5F3;

        }
    }

    .header__down {
        display: flex;
        padding: 20px 159px 20px 155px;
        background-color: $mainBG;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 24px;
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                /* identical to box height, or 160% */
                letter-spacing: 0.2px;
                color: #33383F;
                margin-left: 14px;
                margin-right: 14px;
            }
        }

        .sign {
            margin-left: 445px;

            button {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                /* identical to box height, or 160% */
                letter-spacing: 0.2px;
                color: $blueBg;
                background-color: $mainBG;

            }

            .book {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                /* identical to box height, or 160% */
                letter-spacing: 0.2px;
                color: #FFFFFF;
                background: #0070A0;
                width: 139px;
                height: 36px;
                margin-left: 30px;
            }
        }
    }
}

.everyday {
    background-color: $mainBG;
    padding: 80px 155px 146px 155px;
    display: flex;
    justify-content: space-between;

    .everyday__left {
        h1 {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 400;
            font-size: 58px;
            line-height: 64px;
            letter-spacing: 0.2px;
            color: #1F1F1F;
            width: 485px;
        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* or 150% */
            letter-spacing: 0.2px;
            color: #1F1F1F;
            width: 351px;
            margin-top: 24px;
            margin-bottom: 37px;
        }

        .more {
            button {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 27px;
                /* identical to box height, or 159% */
                text-align: center;
                letter-spacing: 0.2px;
                color: #0070A0;
                background-color: $mainBG;
                height: 43px;
            }


            .book {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 27px;
                /* identical to box height, or 159% */
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
                background-color: $blueBg;
                width: 174px;
                height: 43px;
                margin-right: 24px;
            }
        }


    }

    .everyday__right {
        .everyday__img {
            margin-top: -40px;
        }
    }
}

.companies {
    background: $mainBG;

    .companies__header {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        /* identical to box height, or 156% */
        text-align: center;
        letter-spacing: 0.2px;
        color: #1F1F1F;
        margin-bottom: 32px;
    }

    .companies__img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-left: 62px;
            margin-right: 62px;
        }
    }
}

.pros {
    background-color: $mainBG;

    padding-top: 160px;
    padding-bottom: 200px;

    display: flex;
    justify-content: space-around;

    .pros__card {
        width: 335px;
        padding: 36px;

        h2 {
            margin-top: 12px;
            margin-bottom: 13px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 31px;
            /* identical to box height, or 125% */
            letter-spacing: 0.2px;
            color: #1F1F1F;

        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            /* or 160% */
            letter-spacing: 0.2px;
            color: #1F1F1F;
        }
    }

    .yellow {
        background-color: $yellowBG;
    }

    .blue {
        background-color: $lightBlueBG2;
    }

    .pink {
        background-color: $pinkBG;
    }
}

.care {
    padding: 79px 220px 105px 155px;
    background-color: $secondBG;
    display: flex;
    justify-content: space-between;

    .care__left {
        h2 {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 50px;
            /* identical to box height, or 120% */
            letter-spacing: 0.2px;
            color: #1F1F1F;
            margin-bottom: 60px;
            width: 580px;
        }

        .options {
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                letter-spacing: 0.2px;
                color: #1F1F1F;
                width: 363px;
                padding-left: 54px;
            }

            .option {
                padding-left: 20px;
                padding-right: 20px;
                border-top: 1px solid #C2CDD8;
                border-bottom: 1px solid #C2CDD8;
                padding-top: 18px;
                padding-bottom: 18px;
                width: 450px;

                .header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 18px;

                    h3 {
                        font-family: 'Fraunces';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 25px;
                        /* identical to box height, or 120% */
                        letter-spacing: 0.2px;
                        color: #1F1F1F;

                        img {
                            margin-right: 20px;
                        }
                    }

                    button {
                        background: none;

                        img {}
                    }
                }
            }
        }
    }

    .care__img {
        padding-top: 146px;
        padding-left: 76px;
    }
}

.about {
    display: flex;
    background-color: $mainBG;
    padding: 119px 163px 134px 155px;
    justify-content: space-between;
    .about__left {
        h2 {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 50px;
            /* identical to box height, or 120% */
            letter-spacing: 0.2px;
            color: #1F1F1F;
            width: 263px;
        }
    }

    .about__right {
        display: flex;
        .daily{
            margin-left: 40px;
            margin-right: 34px;
            width: 189px;
        }
        .about__card {
            width: 215px;

            h3 {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 31px;
                /* identical to box height, or 125% */
                letter-spacing: 0.2px;
                color: #1F1F1F;
                margin-bottom: 13px;
                margin-top: 16px;
            }

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                /* or 160% */
                letter-spacing: 0.2px;
                color: #1F1F1F;

            }
        }
    }
}