$blueBg : #0070A0;
$lightBlueBG : #DEF2F7;
$yellowBG : #FAEA73;
$lightBlueBG2: #CCEFF6;
$pinkBG: #F7CEDC;
$mainBG: #F5F5F5;
$secondBG: #F7F9FA;
$thirdBG: #E6F7FF;

.header {
    .header__top {
        background-color: $blueBg;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 140% */
            text-align: center;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }

        .seeAll {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            /* identical to box height, or 140% */
            text-align: center;
            letter-spacing: 0.2px;
            color: #CCE5F3;

        }
    }
    .header__down{
        display: flex;
        padding: 20px 159px 20px 155px;
       
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 24px;
        }
        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
           a{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            /* identical to box height, or 160% */
            letter-spacing: 0.2px;
            color: #33383F;
            margin-left: 14px;
            margin-right: 14px;
           }
        }
    }
}